/node_modules/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/dist/
/build/
/tmp/
/coverage/
/.eslintcache
/.next
/.nuxt
/.vscode
/.idea

.env
.env.local
.env.*.local

.DS_Store
Thumbs.db

.vscode/
.idea/

/coverage/
/*.test.js

package-lock.json
yarn.lock

*.swp
*.bak
*.tmp
*.swm

/.serverless
/.aws-sam
/.firebase

*.tsbuildinfo

.prettier

.eslintcache
